body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}
body{
    background-color: rgb(252, 252, 252);
}
form{
    margin: 10px auto;
    padding: 20px;
}
.form{
    margin: 120px auto;
    margin-left: 500px;
    height: 300px;
    width: 600px;
    background-color: rgb(233, 146, 146);
 
}
input{
    padding: 10px;
    margin: 5px;
    height: 20px;
    width: 500px;
    border-radius: 10px;
}
button{
height: 40px;
background-color: rgb(230, 25, 25);
width:100px;
color: #fff;
}
button:hover{
    
    background-color: rgb(221, 29, 29);

    }
a{
    float: right;
    margin-right: 200px;
    margin-top: -20px;
    text-decoration: none;
    color: rgb(20, 7, 211);
   
}
H2{   
    text-align: center;
}
::placeholder{
    text-align: center;
    font-size: 15px;
    
}